<div class="container">
    <h2>Reactive Forms</h2>
    <div class="row">
        <div class="col">
            <label for="firstName" class="form-label">First Name</label>
            <input id="firstName" type="text" class="form-control mb-2" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
            <label for="lastName" class="form-label">Last Name</label>
            <input id="lastName" type="text" class="form-control mb-2" placeholder="Last name" aria-label="Last name">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="emailAddress" class="form-label">Email address</label>
            <input id="emailAddress" type="text" class="form-control" placeholder="Email Address" aria-label="Email Address">
        </div>
        <div class="col">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input id="phoneNumber" type="text" class="form-control" placeholder="Phone Number" aria-label="Phone phoneNumber">
        </div>
    </div>
</div>